################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NsTestFrameworkUI/NsTestFrameworkUI/obj
/NsTestFrameworkUI/NsTestFrameworkUI/bin/Debug/netstandard2.0
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v16
/NsTestFrameworkApi/NsTestFrameworkApi/obj
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v16
/NsTestFrameworkApi/NsTestFrameworkApi/bin/Debug/netstandard2.0
/.vs/slnx.sqlite
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/DesignTimeBuild/.dtbcache.v2
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/.suo
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/TestStore/0/000.testlog
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/TestStore/0/testlog.manifest
/.vs/TestingFramework/v17/.suo
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/DesignTimeBuild/.dtbcache.v2
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/.futdcache.v1
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v17/.suo
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v17/TestStore/0/000.testlog
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v17/TestStore/0/testlog.manifest
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/FileContentIndex/6f0ace12-e906-48e7-9f85-cf9206cc8982.vsidx
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/FileContentIndex/read.lock
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/FileContentIndex/31716e02-39f8-4b35-b104-65f8706984e3.vsidx
/.vs/VSWorkspaceState.json
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/FileContentIndex/3d6a3b9e-f152-4966-b304-99a79615ca20.vsidx
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/FileContentIndex/read.lock
/NsTestFrameworkApi/.vs/ProjectEvaluation/nstestframeworkapi.metadata.v2
/NsTestFrameworkApi/.vs/ProjectEvaluation/nstestframeworkapi.projects.v2
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v17/.futdcache.v1
/NsTestFrameworkUI/.vs/ProjectEvaluation/nstestframeworkui.metadata.v2
/NsTestFrameworkUI/.vs/ProjectEvaluation/nstestframeworkui.projects.v2
