################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NsTestFrameworkUI/NsTestFrameworkUI/obj
/NsTestFrameworkUI/NsTestFrameworkUI/bin/Debug/netstandard2.0
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v16
/NsTestFrameworkApi/NsTestFrameworkApi/obj
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v16
/NsTestFrameworkApi/NsTestFrameworkApi/bin/Debug/netstandard2.0
/.vs/slnx.sqlite
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/DesignTimeBuild/.dtbcache.v2
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/.suo
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/TestStore/0/000.testlog
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/TestStore/0/testlog.manifest
/.vs/TestingFramework/v17/.suo
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/DesignTimeBuild/.dtbcache.v2
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v17/.futdcache.v1
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v17/.suo
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v17/TestStore/0/000.testlog
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v17/TestStore/0/testlog.manifest
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/FileContentIndex/6f0ace12-e906-48e7-9f85-cf9206cc8982.vsidx
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/FileContentIndex/read.lock
