################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NsTestFrameworkUI/NsTestFrameworkUI/obj
/NsTestFrameworkUI/NsTestFrameworkUI/bin/Debug/netstandard2.0
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/v16
/NsTestFrameworkApi/NsTestFrameworkApi/obj
/NsTestFrameworkApi/.vs/NsTestFrameworkApi/v16
/NsTestFrameworkApi/NsTestFrameworkApi/bin/Debug/netstandard2.0
/.vs/slnx.sqlite
/NsTestFrameworkUI/.vs/NsTestFrameworkUI/DesignTimeBuild/.dtbcache.v2
